.IndexPage{
	width: 60%;
	min-width: 630px;
	display: inline-block;
}

.IndexPage .form{
	margin-top: 75px;

	padding: 50px;
	border: 10px solid #eaeaea;
	box-sizing: border-box;
	text-align: center;
}

.Button{
	margin-top: 75px;
}

.IndexPage .form p.warning{
	color: #ca0000;
    font-size: 24px;
    padding: 15px 0px;
}