.LoadingWrapper{
	width: 100%;
	text-align: center;
}

.LoadingWrapper .LoadingComment{
	font-size: 18px;
	padding: 0px;
	margin: 0px;
}

.Loading{
	opacity: 0.75;
	width: 80px;
	height: auto;
	margin: 50px 0px;

	animation-name: loading-animation;
	animation-duration: 2s;
  	animation-iteration-count: infinite;
  	animation-timing-function: linear;
}


@keyframes loading-animation{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);	
	}
}