.Button{
	font-size: 25px;
	padding: 10px 30px;
	cursor: pointer;

	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

.Button.primary{
	background-color: #d8d8d8;
	border: 1px solid #979797;
	color: #000;
}

.Button.secondary{
	background-color: #FAFAFA;
	color: #6A6A6A;
	border: 1px solid #979797;
}

.Button.close{
	position: fixed;
	top: 20px;
	right: 20px;
	margin-top: 0px;
	background-color: #e0e0e0;
	border: none;
}