.GeneratedLink{
	padding: 20px;
	box-sizing: border-box;
	background-color: #EDEDED;
	font-size: 20px;
	text-align: center;
	width: 70%;
	margin-left: 15%;
	cursor: pointer;

	margin-top: 50px;

	user-select: text;
	-webkit-user-select: text;
	-ms-user-select: text;
	-o-user-select: text;
	-moz-user-select: text;
}