.DialogMessageContainer:first-child{
	margin-top: 20px;
}

.DialogMessageContainer{
	width: 100%;
	display: block;
	margin-top: 40px;
}

.DialogMessage{
	display: inline-block;
	box-sizing: border-box;
	min-width: 150px;
	padding: 20px;
    border-radius: 15px;
}

.DialogMessage p{
	display: inline;
	font-size: 24px;
}

.DialogMessage .DialogMessageAuthor,
.DialogMessage .DialogMessageCreatedAt{
	color: #AFAFAF;
	font-size: 18px;
	display: inline-block;
	vertical-align: middle;
	width: 50%;
}

.DialogMeta{
	display: block;
	padding-bottom: 5px;
}

/* Incoming */
.DialogMessageContainer.incoming{
	text-align: left;
}

.DialogMessage.incoming{
    box-sizing: border-box;
    background-color: #f7f7f7;
    position: relative;
}

.DialogMessage.incoming::after{
	border-bottom-right-radius: 100%;
    content: "";
    display: block;
    width: 20px;
    height: 15px;
    position: absolute;
    background-color: #f7f7f7;
    bottom: 0;
    margin-bottom: -15px;
}

.DialogMessage.incoming .DialogMessageAuthor{
	text-align: left;
}

.DialogMessage.incoming .DialogMessageCreatedAt{
	text-align: right;
}

/* Outgoing */
.DialogMessageContainer.outgoing{
	text-align: right;
}

.DialogMessage.outgoing .DialogMessageAuthor{
	text-align: right;
}

.DialogMessage.outgoing .DialogMessageCreatedAt{
	text-align: left;
}