.DialogInput{
	padding-left: 10%;
    padding-right: 10%;
    position: fixed;
    padding-bottom: 65px;
    bottom: 0px;
    background-color: #fff;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0px -20px 20px #fff;
}
.DialogInput textarea{
	display: block;
	width: 100%;
	font-size: 30px;
	padding: 20px;
	box-sizing: border-box;
	border: 10px solid #EAEAEA;
	resize: none;
	outline: none !important;
	box-shadow: none !important;
}

.DialogInput.disabled{
	opacity: 0.5;
}